body{
  margin: 0;
  padding: 0;
  background-image: url("../images/mesh-gradient.png");
  background-size:cover;

}
.navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  margin-top: 54px;
  margin-right: 200px;
}

.navbar > a {
  text-decoration: none;
  display: flex;
  margin-left: 57.6px;
  
  font-family:'Kokoro';
  font-style: normal;
  font-weight: 400;
  font-size: 32.4px;
  
  color: #EDD1D1;
}

p{
  color: white;
  font-family: 'Kokoro';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  text-align: left;
  margin-left: 10%;
  
}

#home-p{
  color: white;
  font-family: 'Kokoro';
  font-size: 20px;
  position: relative;
  top: -55px;
  left: 0px;
  white-space: pre-line;
}


.button{
  background-color: rgba(217, 217, 217, 1);
  border: none;
  color: black;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Kokoro';
  margin: 4px 3px;
  margin-left: 10%;
  position: relative;
  top: -70px;
  left: -5px;
  border-radius: 25px;
  cursor: pointer;
}

.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.67),0 17px 50px 0 rgba(0, 0, 0, 0.659);
}
.landing-image{
  width: 30vw;
  margin-top: -68vh;
  margin-right: 9.5vw;
  background-image: url(../images/robot.png);
  background-repeat: no-repeat;
  justify-content: right;
  align-items:right;
  display:flex;
  float: right;
}

