body{
    margin: 0;
    padding: 0;
    background-image: url("../images/mesh-gradient.png");
    background-size:cover;

}
.navbar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    margin-top: 54px;
    margin-right: 200px;
  }
  
  .navbar > a {
    text-decoration: none;
    display: flex;
    margin-left: 57.6px;
    
    font-family:'Kokoro';
    font-style: normal;
    font-weight: 400;
    font-size: 32.4px;
    
    color: #EDD1D1;
  }