body{
    margin: 0;
    padding: 0;
    background-image: url("../images/sources\ background\ img.jpg");
    background-size:cover;

}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  margin-top: 54px;
  margin-right: 200px;
 }

.navbar > a {
  text-decoration: none;
  display: flex;
  margin-left: 57.6px;
  
  font-family:'Kokoro';
  font-style: normal;
  font-weight: 400;
  font-size: 32.4px;
  color: #EDD1D1; 
  position: relative;
}

.navbar > a:hover{
  color:pink;
}

.navbar > a::after{
  content:'';
  height:2px;
  width: 100%;
  background-color:aqua;
  display:block;
  position: absolute;
  left:0;
  bottom: -8px;
  opacity: 0 ;
  transition: all 0.2s ;
}

.navbar > a:hover::after{
  opacity: 1 ;
}